#sign-out{
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  border: none;
  background-color: white;
  aspect-ratio: 2/1;
  width: 5vw;
  border-radius: 25px;
  font-weight: bolder;
  font-family: "Spotify-Font";
}
